{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "arrowParens": "always",
  "jsxSingleQuote": true
}
